<!doctype html>
<html data-path="<%= @spec.path %>">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>

    <% @stylesheets.each do |file| %>
      <%# Use :debug => false for stylesheets to improve page load performance. %>
      <%= stylesheet_link_tag file, :debug => false %>
    <% end %>

    <% global_file = Rails.cache.read "global_file" %>
    <% unless global_file %>
      <% global_file = javascript_include_tag("spec") %>
      <% Rails.cache.write("global_file", global_file) %>
    <% end %>

    <%= javascript_include_tag "chai", "konacha/iframe", :debug => false %>
    <%= global_file %>
    <%= javascript_include_tag @spec.asset_name %>
  </head>
  <body>
  </body>
</html>